.no {
  background-image: url(new.png);
  
}
.na {
  text-align: center;
  color:white;
}
.box {
  border-radius: 10px;
  border-color: red blueviolet yellow orchid;
  text-align: center;
  background-color: rgb(0, 255, 140);
  height: 150px;
  width:550px;
  margin:auto;
  border-style:groove;
  backdrop-filter: blur(1.0);
}

.box2 {
    border-radius: 10px;
  text-align: center;
  background-color: rgb(0, 204, 255);
  height: 180px;
  width:570px;
  margin:auto;
  margin-top: 20px;
  border-style: outset;
  
}

.box3 {
    border-radius: 10px;
  text-align: center;
  background-color: rgb(196, 79, 242);
  height: 150px;
  width:550px;
  margin:auto;
  border-style: outset;
  margin-top: 20px;
}

.box4 {
      border-radius: 10px;
  text-align: center;
  background-color: rgb(244, 222, 153);
  height: 150px;
  width:550px;
  margin:auto;
  border-style: outset;
  margin-top: 20px;
}

.linked {
  margin-top:20px;
  margin-left: 40px;
}

.nj {
  height:50px;
  width:50px;
  margin-top:30px;
  margin-right: 20px;
  
}

.nare {
  height:50px;
  width:50px;
  margin-right: 100px;
  border-radius: 70px;
  
}
.insta {
  margin-right:30px;
}